@{
    Layout = null;
}

<h1>Add Cheese</h1>

<form method="post">
    <input name="name" type="text" value="Type of Cheese"/>
    <input name="description" type="text" value="Description of Cheese" />
    <input type="submit" value="Add Cheese" />
</form>